.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background: transparent;
  border: 1px solid #f44336;
  border-radius: 6px;
   color: #f44366;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  color: #eee;
  background-color: #f44366;
}